/* Глобальные стили */

@import '~bootstrap/scss/bootstrap-reboot';

@import "./utilites";
@import "generators";
@import "./fonts";
@import "./buttons";

@import '~bootstrap/scss/bootstrap-grid';
//@import '~bootstrap/scss/navbar';
//@import '~bootstrap/scss/nav';
@import '~bootstrap/scss/transitions';
@import '~bootstrap/scss/images';
@import '~bootstrap/scss/utilities/text';
@import '~bootstrap/scss/utilities/background';


* {

}

body {
  min-width: 320px;
  min-height: 100vh;

  &.o-hidden {
    overflow: hidden;
  }
}

.link {
  text-decoration: none;
  transition: all .3s linear;
  display: block;

  &:hover {
    text-decoration: none;
  }
}

.list {
  list-style-type: none;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}


.grecaptcha-badge {
  visibility: hidden;
}
